<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>{% block title %}Recipe Book{% endblock %}</title>
        <h1>Recipe Book</h1>
    </head>
<body>
  <div id = "content">
    <h1>{{ ingredient.name }}</h1>
    <h2>Used in Recipes:</h2>
    <ul>
      {% for recipe_ingredient in ingredient.recipe.all %}
        <li>
          <a href="{{ recipe_ingredient.recipe.get_absolute_url }}">{{ recipe_ingredient.recipe.name }}</a>
          ({{ recipe_ingredient.quantity }})
        </li>
      {% empty %}
        <li>This ingredient is not used in any recipes yet.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'ledger:list' %}">Back to Recipe List</a>
  </div>
 

